<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{
      padding: 0;
      margin: 0;
    }
    section {
      min-width: 500px;
    }
    pre {
      background-color: #000;
      font-size: 16px;
      color: aquamarine;
    }
    nav {
      position: fixed;
      top: 100px;
      right: -120px;
      /* right: 0; */
      width: 150px;
      height: 500px;
      transition: all .3s linear;
      background-color: bisque;
      padding: 10px 0;
      border-radius: 10px 0 0 10px;
      padding-top: 30px;
    }
    nav b{
      position: absolute;
      top: 5px;
      left: 10px;
    }
    nav:hover {
      right: 0;
    }
    nav p{
      text-align: left;
      margin: 5px 0;
      border: 1px dashed rgb(92, 219, 7);
      color: rgb(49, 101, 197);
      border-radius: 5px;
    }
    nav p a{
      text-decoration: none;
    }
    .width100{
      width: 100%;
    }
  </style>
</head>
<body>
  <nav>
    <b>←</b>
    <p>1.<a href="#es6">es6,7的原生实现</a></p>
    <p>2.<a href="#cyzz">常用正则表达式</a></p>
    <p>3.<a href="#jsejz">接收二进制文件流</a></p>
    <P>4.<a href="#fsejz">发送二进制文件流</a></P>
    <P>5.<a href="#base64">将base64转成图片</a></P>
    <P>6.<a href="#kelihua">函数科里化</a></P>
    <P>7.<a href="#jqxuanzeqi">jq选择器实现</a></P>
    <P>8.<a href="#defineProperty">vue思想</a></P>
    <P>9.<a href="#paixu">简单排序</a></P>
  </nav>
  <section>
    <a name="es6">es6,7的原生实现</a>
    <cite>想起之前对js的摸索，又看了一遍，果然有的自己都看不懂了</cite>
    <pre>
      Function.prototype.cal=function(a){
        var arr=Array.prototype.slice.call(arguments,1)
        //这里小用一下call只为获得参数
        a.__proto__.fn=this;
        return a.fn(...arr);||a.fn.apply(a,arr)()
        //就一句话谁打点调用的就是谁 so指向a
      }
      var argum=[1,2,3,2,3,4,5]
      console.log(Array.prototype.slice.cal(argum,1))
      创建一个cal方法实现call功能
    </pre>
    <pre>
      String.prototype.sli = Array.prototype.slice
      //js中字符串类型也有length也可以根据索引值枚举，所以数组的方法都可直接调用
      var obj={num:10,getCount:function(){return this.num}}
      var unboundBind=Function.prototype.bind;
      var getc=Function.prototype.call.bind(unboundBind)(window.getCount,window)
      var getc=Function.prototype.call.bind(obj.getCount,obj)()
      //call里面的this指向了obj.getCount了.函数打点.call()意思不就是call里面的this指向前面函数吗
      //bind后面的参数是默认的第一参数啊,所以等价于
      var getc=Function.prototype.call.bind(obj.getCount)(obj)
      console.log(getc)
    </pre>
    <pre>
    m=Array.prototype.filter.call("abcdefghijk",function(val){
      return ["a","e","i","o","u"].includes(val);
    }).join("")
    [].join.call("abc","|")
    var join=Function.prototype.call.bind([].join)
    //这句话相当于 [].join.call(args,args)
    console.log(join("sljfd","|"))
    </pre>
    <p>bind的实现</p>
    <pre>
    var obj={"name":"ck"}
    var ob={"name":"wq"}
    fn=function(a,b,c,d){
        return this.name;
    }
    Function.prototype.bin=function(a){
        var arr=Array.prototype.slice.call(arguments,1)
        a.__proto__.fn=this;
        return function(){
            var array=Array.prototype.slice.call(arguments);
            var ar=arr.concat(array)
            return a.fn(...ar)
    // 或者  fn.apply(a,ar)
        };
    }
    var ff=fn.bin(obj)(5,2,3,4)
    </pre>

    <pre>
      最常见的错误 给html添加文本了
      var write = document.write
      write('hello')  //error   直接去调用一个函数,this指向了window
      -write.bind(document)('hello')
      -write.call(document,'hello')
      -write.apply(document,['hello'])

    </pre>
    <p>filter实现</p>
    <pre>
    Array.prototype.filter=function(callback){
      var array=[];
      for (let i= 0; i < this.length; i++) {
        var m=callback(this[i])
        if(m){
          array.push(this[i])
        }
      } 
      return array
    }
    </pre>
    <p>map实现</p>
    <pre>
    Array.prototype.map=function(callback){
      var array=[]
      for (let i = 0; i < this.length; i++) {
        var m=callback(this[i])
        array.push(m)
      }
      return array
    }
    </pre>
    <p>reducer实现</p>
    <pre>
    Array.prototype.reducer=function(callback){
      var m;
      for (let i = 0; i < this.length; i++) {
        if(i==0){
          m=this[0];
        }else{
          m=callback(m,this[i])
        }
      }
      return m
    }
    console.log(arr.reducer((a,b)=>{
      return a+b
    }))
    </pre>
    <pre>
      Array.prototype.max = function(){
        return Math.max.apply(null,this)
      }
    </pre>

    <a name="cyzz">常用正则表达式</a>
    <pre>
    验证数字：^[0-9]*$
    验证n位的数字：^\d{n}$
    验证至少n位数字：^\d{n,}$
    验证m-n位的数字：^\d{m,n}$
    验证零和非零开头的数字：^(0|[1-9][0-9]*)$
    验证有两位小数的正实数：^[0-9]+(.[0-9]{2})?$
    验证有1-3位小数的正实数：^[0-9]+(.[0-9]{1,3})?$
    验证非零的正整数：^\+?[1-9][0-9]*$
    验证非零的负整数：^\-[1-9][0-9]*$
    验证非负整数（正整数 + 0）  ^\d+$
    验证非正整数（负整数 + 0）  ^((-\d+)|(0+))$
    验证长度为3的字符：^.{3}$
    验证由26个英文字母组成的字符串：^[A-Za-z]+$
    验证由26个大写英文字母组成的字符串：^[A-Z]+$
    验证由26个小写英文字母组成的字符串：^[a-z]+$
    验证由数字和26个英文字母组成的字符串：^[A-Za-z0-9]+$
    验证由数字、26个英文字母或者下划线组成的字符串：^\w+$
    验证用户密码:^[a-zA-Z]\w{5,17}$ 正确格式为：以字母开头，长度在6-18之间，只能包含字符、数字和下划线。
    验证是否含有 ^%&',;=?$\" 等字符：[^%&',;=?$\x22]+
    验证汉字：^[\u4e00-\u9fa5],{0,}$
    验证Email地址：^\w+[-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$
    验证InternetURL：^http://([\w-]+\.)+[\w-]+(/[\w-./?%&=]*)?$ ；^[a-zA-z]+://(w+(-w+)*)(.(w+(-w+)*))*(?S*)?$
    验证电话号码：^(\d3,4|\d{3,4}-)?\d{7,8}$：--正确格式为：XXXX-XXXXXXX，XXXX-XXXXXXXX，XXX-XXXXXXX，XXX-XXXXXXXX，XXXXXXX，XXXXXXXX。
    验证身份证号（15位或18位数字）：^\d{15}|\d{}18$
    验证一年的12个月：^(0?[1-9]|1[0-2])$ 正确格式为：“01”-“09”和“10”“12”
    验证一个月的31天：^((0?[1-9])|((1|2)[0-9])|30|31)$    正确格式为：01、09和10、31。
    整数：^-?\d+$
    非负浮点数（正浮点数 + 0）：^\d+(\.\d+)?$
    正浮点数   ^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$
    负浮点数  ^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$
    浮点数  ^(-?\d+)(\.\d+)?$
    </pre>
    <a name="jsejz"></a>
    <p>原生与fetch下载</p>
    <pre>
    const data =await fetch(`${window.location.origin}:3000/app${params.url}`,{
      method:'POST',
      headers:{
        'Content-Disposition':'attachment;filename=company.xlsx',
        'Content-Type':'application/x-www-form-urlencoded',
        'accept':'attachment;filename=company.xlsx'
      },
      body:stringify({token,...params})
    }).then(response => response.blob())
    .then(blob => {
      var url = window.URL.createObjectURL(blob);
      var a = document.createElement('a');
      a.href = url;
      a.download = "company.xlsx";
      a.click();                    
    });
    </pre>
    
    <pre>
    var xhr = new XMLHttpRequest()
    xhr.responseType = "blob"
    xhr.onload = () => {
      if (xhr.status === 304 || xhr.status === 200) {
        var blob = new Blob([xhr.response], {type: 'text/xls'});
        var csvUrl = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = csvUrl;
        a.download = "templete.csv";
        a.click(); 
      }
    }
    xhr.open("GET", 'http:&export_size=10')
    xhr.send()
    </pre>
    <a name="fsejz"></a>
    <p>node传输文件</p>
    <pre>
    app.get('/file',(req,res)=>{
      const dirpath = path.resolve(__dirname,'db/ck.csv')
      res.header("Access-Control-Allow-Origin", "*");
      res.header("Content-Disposition", "attachment:filename=ck.csv");
      res.header("Access-Control-Allow-Headers", "X-Requested-With");
      res.header("Access-Control-Allow-Methods","PUT,POST,GET,DELETE,OPTIONS");
      res.header("X-Powered-By",' 3.2.1')
      res.header("Content-Type", "application/json;charset=utf-8");
      fs.readFile(dirpath,(err,doc)=>{
        // const result = JSON.parse(doc.toString())
        // res.json(result)
        res.sendFile(path.resolve(__dirname,'db/ck.csv'))
      })
    })
    </pre>
    <p>java传输文件</p>
    <pre>
    import java.io.IOException;
    import java.nio.file.Files;
    import java.nio.file.Paths;
    @RequestMapping("/db")
    public String db() throws IOException {
    	String mString = "hello";
      try {
    		mString = new String(Files.readAllBytes(Paths.get("G:\\db.json")));
  		} catch (IOException e) {
        e.printStackTrace();
  		}
  		return mString;
    }
    </pre>
    <a name="base64"></a>
    <p>jdk 1.8 将base64转图片</p>
    <pre>
    import java.io.FileInputStream;
    import java.io.FileNotFoundException;
    import java.io.FileOutputStream;
    import java.io.IOException;
    import java.io.InputStream;
    import java.io.OutputStream;
    import java.util.Base64;
    import java.util.Base64.Decoder;
    import java.util.Base64.Encoder;
    public class App {
      public static void main(String[] args) throws IOException {
        Decoder decoder = Base64.getDecoder();
        byte[] b = decoder.decode("/base64:string");
        for (int i = 0; i < b.length; ++i) {
          if (b[i] < 0) {
            b[i] += 256;
          }
        }
        OutputStream out;
        try {
          out = new FileOutputStream("F:/sd.jpg");
          out.write(b);
          out.flush();
          out.close();
        } catch (FileNotFoundException e) {
          // TODO Auto-generated catch block
          e.printStackTrace();
        }
      }
    }
    </pre>
    <p>node将base转为图片</p>
    <pre>
    if (key == 'avatar') {
      let value = ctx.request.body.value.match(/base64,(.+)/)[1];
      const url = username+'.jpg'
      const dirpath=path.resolve(__dirname,"../../static/avatar/"+url);
      let bitmap = new Buffer(value,'base64')
      fs.writeFileSync(dirpath,bitmap)
    }
    </pre>
    <a href="#kelihua"></a>
    <p>函数科里化实现</p>
    <pre>
      function kk(fn){
        var nm = fn.length;
        var now = []
        return function mg(m){
          now = now.concat([].slice.call(arguments));
          if (now.length == nm) {
            return fn.apply(null,now)
          }else{
            return mg
          }
        }
      }
    
      const df = kk((a,b)=>{return a+b})
      df(4)(3);
    </pre>
    <a href="#jqxuanzeqi"></a>
    <p>jquery选择器源码</p>
    <pre>
      (function(){ 
        //暴露外部的引用 防污染
        var jQuery = window.jQuery = window.$ = function(selector){ 
          return new jQuery.fn.init(selector);  //新分配一个堆空间
        } 
        //添加原型事件 
        jQuery.fn = jQuery.prototype = { 
          init:function(selector){ 
            var element = document.getElementsByTagName(selector); 
            Array.prototype.push.apply(this,element); 
            return this; 
          }, 
          length:0, 
          size:function(){ 
            return this.length; 
          } 
        } 
        //将init的原型引用成jQuery的原型 
        jQuery.fn.init.prototype = jQuery.fn; //将size注册到 分配的空间上
      })(); 
      var result = $("div"); 
      alert($('div').size()); 
    </pre>
    <a href="#defineProperty"></a>
    <p>简单用object.defineProperty实现双向绑定pub-sub思想</p>
    <pre>
      input type="text" v-model='name'
      p v-html='name'
      input type="text" v-model='age'
      p v-html='age'
      
      var inp = document.getElementsByTagName('input')
      var p = document.getElementsByTagName('p')

      function Init({data={}}){
        defineProperty(data);
      }

      function defineProperty(data){
        if (!data || typeof data != 'object') {
          return;
        }
        Object.keys(data).forEach((key)=>{binddefineProperty(data,key,data[key])})
      }

      function Pub(key,obj){
        this.pubs = check(key);
        this.pubhtml = checkhtml(key);
        this.node = obj;
        this.key = key
        this.addevent()
      }

      Pub.prototype.listens = function (v){
        this.pubs.forEach((item)=>{
          if (item.tagName == 'INPUT') {
            item.value = v
          }
        })
        this.pubhtml.forEach((item)=>{
          item.innerHTML = v
        })
      }
      Pub.prototype.addevent = function(){
        this.pubs.forEach((item)=>{
          item.addEventListener('input', (e)=>{
            this.node[this.key] = e.target.value;
          })
        })
      }
      function binddefineProperty(obj,key,val){
        var pub = new Pub(key,obj); //需要延迟才能获得__proto__.listens
        if (val instanceof Object) {
          defineProperty(val)
        }
        pub.listens(val)
        Object.defineProperty(obj,key,{
          enumerable:true,//是否可通过for-in 获得  inerator
          configurable:false,//能否delete等修改属性
          get:function(){
            return val
          },
          set:function(v){
            val = v
            pub.listens(v)
          }
        })
      }

      function check(key){
        return Array.prototype.filter.call(inp,(item)=>{
          if (item.getAttribute('v-model') == key) {
            return item;
          }
        })
      }

      function checkhtml(key){
        return Array.prototype.filter.call(p,(item)=>{
          if (item.getAttribute('v-html') == key) {
            return item;
          }
        })
      }

      var v = new Init({
        data:{
          name:1,
          age:18
        }
      })
    </pre>
    <a href="#yibubiancheng">异步编程理解</a>
    <p>
      深入浅出node-p50 (异步I/O实现现状)
    </p>
    <p>1 .read。他是最原始。性能最低的一种，通过重复调用检查I/O的状态来完成完整数据的读取在得到最终数据前cpu一直好用在等待上</p>
    <p>2 .select。他是在read的基础上改进的一种方案，通过对文件描述符上的事件状态来进行判断，（限制在了1024长度的数组存储状态so 最多同时检查1024个文件描述符）</p>
    <p>3 .poll。改方案select升级版，采用连表方式避免数组长度限制，还可避免不需要的检查，但是当描述符过多时性能低（链表结构 运算对数提升）</p>
    <p>4 .epoll。linux下效率最高i/o时间通知机制，进入轮询时候没有检查的i/o将会进行休眠，直到时间唤醒，真实利用事件通知，执行回调的方式而不是遍历查询不会造成cpu浪费，</p>
    <p>5 .kqueue。类似epoll只在freeBSD系统运行</p>
    <a href="#paixu"></a>
    <p>冒泡排序，快速，选择</p>
    <pre>
      function(){
        for (var i = 0; i < arr.length; i++) {
          // 冒泡  
          // //先把小的排在前
          // for (var j = arr.length-1; j >=i; j--) {
          //   if (arr[j]< arr[j-1]) {
          //     var me = arr[j]
          //     arr[j] = arr[j-1]
          //     arr[j-1] = me
          //   }    
          // }
          //or
          for (var j = 0; j< arr.length-1-i; j++) {
            //先把大的排后面
            if (arr[j]>arr[j+1]) {
              var me = arr[j]
              arr[j] = arr[j+1]
              arr[j+1] = me
            }    
            console.log(3) //运算次数(n*2-n)/2  so 时间复杂度归为平方级算法
          }
        }
      }
      快速
      function q(arr){
        //思想二分法 迭代缩小范围
        var biaogan = arr[0];
        var big = []
        var small = []
        for (var i = 1; i < arr.length; i++) {
          if (arr[i]>biaogan) {
            big.push(arr[i])
          }else{
            small.push(arr[i])
          }
        }
        console.log(3) //  线性 最坏1情况也是n^2
        if (small.length==0) {
          big.unshift(biaogan);
          return big;
        }else if (big.length==0) {
          small.push(biaogan)
          return small
        }else{
          return q(small).concat(biaogan,q(big))
        }
      }
      console.log(q(array))
      // 选择
      function so(array){
        //思想每次循环都找出最小值
        var min_i,temp
        for (let i = 0; i < array.length; i++) {
          min_i = i
          for (let j = i+1; j < array.length; j++) {
            if (array[min_i]>array[j]) { // <  对比次数n^2  对象
              min_i = j
            }      
          }
          temp = array[i]
          array[i] = array[min_i]
          array[min_i] = temp
        }
        return array
      }
    </pre>
  </section>
</body>
<script>


function list(){
  return [].slice.call(arguments)
}
var l = list.bind(null,3)(1,2)
console.log(l)
</script>
</html>